html{
    font-family: helvetica;
  }
  img{
    width: 200px;
    margin: 10px;
    float:right;
  }
  img.left{
    float:left;
    /* clear:right; */
  }
  .imgright{
    margin: 15px;
   float:right; 
  }
  .imgleft{
    margin: 15px;
    float:left; 
  }